<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.relurori.sandbox"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.relurori.sandbox.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.relurori.sandbox.button.MovingActivity" >
        </activity>
        <activity android:name="com.relurori.sandbox.gesture.GesturesActivity" >
        </activity>
        <activity android:name="com.relurori.sandbox.gesture.SlidingMenuActivity" >
        </activity>
        <activity android:name="com.relurori.sandbox.oauth2.HelloActivity" >
        </activity>
        <activity android:name="com.relurori.sandbox.oauth2.AccountManagerActivity" >
        </activity>
        <activity android:name="com.relurori.sandbox.spreadsheet.gdata.SpreadsheetGdataMainActivity" >
        </activity>
        <activity android:name="com.relurori.sandbox.spreadsheet.gdata.SpreadsheetGdataActivity" >
        </activity>
        <activity android:name="com.relurori.sandbox.preferences.DynamicPreferenceActivity">
        </activity>
        <activity android:name="com.relurori.sandbox.localdb.DatabaseActivity">
        </activity>
        <activity android:name="com.relurori.sandbox.camera.crop.external.CameraCropSeperateActivity">
        </activity> 
        <activity android:name="com.relurori.sandbox.bluetooth.BluetoothChatActivity">
        </activity>
    </application>

</manifest>